* {
    box-sizing: border-box;
    margin:0;
    padding:0; 
    font-family: "Rubik", sans-serif;
}


body {
    background-color:  rgba(63, 63, 54, 0.308);
    padding-top: 100px;
}



header {
    margin-left: 20%;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 20px;
    width: bold;
}

.container {
    border-style: groove;
    border-width: 60px;
    background-color:rgb(114, 114, 98);
    width:50%;
    margin: 20px auto;
}

form {
    font-size: 30px;
    display: flex;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 45%;
    padding: 10px;
}

form button{
    cursor: pointer;
}

table{
    width: 100%;
    padding: 50px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: space-between;
   
}    

table th {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    
}
    
    table td {
        padding:30px;
        text-align: center;
        height: 20px;
        font-size: 20px;
        border-bottom: 2px  black
}
   